<button style="margin-bottom: 20px;" class="btn btn-default" type="submit" ui-sref="home">Back to home</button>

<h1>Connect your UETOPIA account</h1>
<p>Make sure you are logged in on the uetopia website, and enter the security code below<p>

  <iframe height="600px" width="800px" src="https://apitest-dot-ue4topia.appspot.com/#/game/5719586641018880/metagame/connect"></iframe>

<form class="form-horizontal" ng-submit="submitAdd()" name="connect">
<fieldset>

<p>Security Code from above</p>
<!-- Text input-->
<div class="input-group" ng-class="{'has-error' : !connect.code.$valid}">
  <input ng-model="resultModel.security_code" name="code" type="text" required class="form-control input-md">
</div>


<button style="margin-top: 20px;" type="submit" class="btn btn-white btn-rad btn-trans" ng-class="{'disabled' : !connect.$valid}">Connect</button>
</fieldset>
</form>
